@model IEnumerable<MCSDD10.Models.Products>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    @foreach (var item in Model)
    {


        <a class="card border-info col-lg-3" href="@Url.Action("Display", new {id=item.ProductID})">
            <img src="@Url.Action("GetImage","Products", new {id=item.ProductID})" class="img-fluid pt-2"/>
            <div class="card-body">
                <h5><strong class="text-primary">@item.ProductName</strong></h5>
               
                <h4 class="text-danger text-right">
                    @Html.DisplayFor(modelItem => item.UnitPrice)

                </h4>
            </div>
            
            <div class="card-footer mb-2">
                <button class="btn btn-success btn-block" href="https://go.microsoft.com/fwlink/?LinkId=301870">加入購物車 <i class="bi bi-cart-check"></i></button>
            </div>
        </a>
    }
</div>

<span id="MyCart" class=" border rounded-pill rounded-lg shadow text-center">
    <i class="bi bi-cart4 text-primary"></i>
</span>


@section CSS{
    <style>
        a:hover{
            text-decoration:none;
        }
        #MyCart{
            height:150px;
            width:150px;
            position:fixed;
            right:100px;
            bottom:50px;
            font-size:5rem;
        }
    </style>
    }
