
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="container" id="container">
    <div class="text-center">
        <h4>歷史表現</h4>
    <div class="btn-group" id="btngroup">
        <button class="btn btn-outline-secondary" value="-21">1個月</button>
        <button class="btn btn-outline-secondary" value="-63">3個月</button>
        <button class="btn btn-outline-secondary" value="-126">6個月</button>
        <button class="btn btn-outline-secondary" value="-252">1年</button>
        <button class="btn btn-outline-secondary" value="-1260">5年</button>
        <button class="btn btn-outline-secondary active" value="WEEKLY">最長</button>
        <button class="btn btn-outline-secondary" value="DAILY">年度迄今</button>
    </div> 
        <canvas id="symbolLineChart" aria-label="" role="img">
        </canvas>
    </div>

    <div class="table-responsive m-3">
        <table class="table text-center" id="dataTable">
            <thead>
                <tr>
                    <th>交易日</th>
                    <th>成交價</th>
                    <th>漲跌額</th>
                    <th>漲跌幅</th>
                    <th>區間最高</th>
                    <th>區間最低</th>
                    <th>年化報酬率</th>
                    <th>標準差</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h4 class="text-center">配息紀錄</h4>
        <canvas id="BarChart" aria-label="" role="img">
        </canvas>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.5.1/math.min.js" integrity="sha512-WwbnWc5N0epFy5Ba2RfPttV7TvJX8/OfdXyAzmCrzdhcpAsO8jfo/IOJIW6gzgXcGiPyv5w2d2vnWgHV/IXCGg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        //取得網址CCY參數
        const url = window.location.href;
        const queryArr1 = url.split('?');
        const queryArr2 = queryArr1[1].split('=');
        const symbolstr = queryArr2[1].toString();

        /*symbolLineChart(symbolstr,"monthly");//月*/
        //取api
        getTimeSeries(symbolstr, "monthly");
        //畫線圖
        LineChart("symbolLineChart", dates, closes);
        //畫配息圖
        BarChart("BarChart", dates, dividends);
       
        //算資產表現
        $('#btngroup button').click(function (evt) {
            $('#btngroup button').removeClass('active');
            $(evt.target).addClass('active');
            const num = parseFloat($(evt.target).val());
            const newdates = dates.slice(num);
            console.log(newdates);            
        });
        var lastPrice = closes[closes.length - 1];
        var change = (lastPrice - closes[closes.length - 2]).toFixed(2);
        var changePer = (change / lastPrice * 100).toFixed(2);
        //字串陣例轉數值陣例
        var fcloses = closes.map(str => {
            return parseFloat(str);
        });
        //從價格陣列換算報酬率陣列
        var i = 0;
        var returnAry = [];
        $.each(closes, function (key, value) {
            if (i >= 1) {
                value = (closes[i] - closes[i - 1]) / closes[i - 1];
                returnAry.push(value);
            }
            i++;
        });
        
        const ans = getCAGR(dates, adjCloses).toFixed(2);
        const annl = 12; //還要寫判斷月-週-日
        const std = math.round((math.std(returnAry) * math.pow(annl,0.5))*100,2);
        
        $('#dataTable tbody>tr').append(`<td>${dates[dates.length - 1]}</td>
                                             <td>${lastPrice}</td>
                                             <td>${change}</td>
                                             <td>${changePer}%</td>
                                             <td>${Math.max(...fcloses) }</td>
                                             <td>${Math.min(...fcloses)}</td>
                                             <td>${ans}%</td>
                                             <td>${std}%</td>`
        );  

    </script>
} 